# Server
PORT=3000
NODE_ENV=development

# Database - DynamoDB Tables
DOCUMENT_TABLE_NAME=DocumentEmbeddings
USER_TABLE_NAME=Users 
CHAT_TABLE_NAME=ChatHistory

# Pinecone Vector Database
PINECONE_API_KEY=
PINECONE_INDEX_NAME=first-project
PINECONE_ENVIRONMENT=aws-starter

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Bedrock
GENARATE_MODELID=anthropic.claude-3-sonnet-20240229-v1:0
EMBEDDING_MODELID=amazon.titan-embed-text-v1
AUTHROPIC_VERSION=bedrock-2023-05-31
MAX_TOKEN=4000
TEMPERATURE=0.7
TOP_P=0.9
TOP_K=250
ROLE=user

# JWT
JWT_SECRET=your_jwt_secret_make_it_strong
REFRESH_TOKEN_SECRET=your_refresh_token_secret_different_from_jwt
JWT_EXPIRES_IN=7d

# S3
S3_BUCKET_NAME=chatbot-source-carwynluong
CLOUDFRONT_URL=https://your-cloudfront-domain.cloudfront.net