# Server
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=genai
DB_USER=your_username
DB_PASSWORD=your_password
VECTOR_TABLE=document_embeddings

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# Bedrock
GENARATE_MODELID=anthropic.claude-3-sonnet-20240229-v1:0
EMBEDDING_MODELID=amazon.titan-embed-text-v1
AUTHROPIC_VERSION=bedrock-2023-05-31
MAX_TOKEN=4000
TEMPERATURE=0.7
TOP_P=0.9
TOP_K=250
ROLE=user

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

# S3
S3_BUCKET_NAME=your_bucket_name